body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: "Oswald", sans-serif;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
    padding: 50px;
    border-radius: 10px;
    text-align: center;
}

input {
    background: rgba(53, 52, 52, 0.3);
    height: 20px;
    line-height: 20px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    margin-left: 5px;
    margin-bottom: 2px;
    color: rgb(0, 0, 0);
    font-family: "Oswald", sans-serif;
}

button {
    margin-top: 60px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Oswald", sans-serif;
    position: absolute;
}

button:hover {
    background-color: #f70000;
    position: absolute;
}

#saida {
    padding: 80px 90px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: white;
    color: black;
    border-radius: 5px;
    transition: transform 0.3s, background-color 0.3s;
    font-family: "Oswald", sans-serif;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 270px;
    margin-bottom: 270px;
}

#saida:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.1);
}

#popup, #erro {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    font-family: "Oswald", sans-serif;
}


#popup button, #erro button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-family: "Oswald", sans-serif;
    position: static;
}

#popup button:hover, #erro button:hover {
    background-color: lightgray;
    font-family: "Oswald", sans-serif;
}